<hr>
<img id = "icon" src = "{{url_for('static', filename = "Location Icon.jpg")}}"/>
<p>Visit us at 20 1/2 Duke's Street, Kingston Jamaica.</p>
<img id = "icon" src = "{{url_for('static', filename = "Email Icon.jpg")}}"/>
<p>Email us at: <a href = "mailto:wscharlesandco@gmail.com">wscharlesandco@gmail.com</p></a>
<img id = "icon" src = "{{url_for('static', filename = "Phone Icon.jpg")}}"/>
<p>Call us at: 1-876-922-4425 or 1-876-967-4520 </p>
<img id = "icon" src = "{{url_for('static', filename = "Fax Icon.jpg")}}"/>
<p>Fax us at: 1-876-922-9130 </p>