{% extends "base.html" %}

{% block main %}
<h1 class="page-header">Our Staff</h1>
<p class = "lead">Mr. Wentworth S. Charles</p>
<img id = "person" src = "{{url_for('static', filename = "charles.jpg")}}"/>
<p>Mr. Wentworth S. Charles is a lead practitioner for over thirty seven (37) years.</p> </p> He specialized in Conveyancing, corporate and criminal law and Practiced in several courts in the Island of Jamaica and the Caribbean including The Judicial Committee of the Privy Council.
His Law Firm, Wentworth S. Charles & Company has in house Attorneys-at-Law who practice in areas of Commercial Law, Arbitration, Personal Injuries, Civil and Criminal Litigation. </p> <p>
Our Mr. Charles attended Holmwood Technical High School and the University of the West Indies where he attained a Bachelor of Laws(Hons.) Degree. He was awarded the Legal Education Certificate (LEC) in 1981 from the Norman Manley Law School. </p>
Mr. Charles has served on numerous Public Bodies. He is currently a member of the Jamaica Bar Association and Chairman of South East Regional Health (SERHA) and also a member of the Board of Directors of the Medical Council of Jamaica. 
Formerly he serves as Chairman of Petroleum Corporation of Jamaica, Sugar Company of Jamaica(S.C.J.) Holding Ltd., the Land Divestment Advisory Committee, the Jamaica Anti-Doping Commission and Director of the Urban Development Corporation (UDC). He also served as deputy Chairman of the National Land Agency. 
He formerly served as a member of the Board of Nutrition Products Ltd., Jamaica Intellectual Property Office, Dental Council of Jamaica and Cable and Wireless J. Ltd.
He is also as member of the Holmwood Technical High School Board, and has been inducted to the Holmwood Technical High School Honour Roll.
In the year 2017 Mr, Charles was appointed Notary Public of Jamaica.
Finally, Mr. Charles is currently the Chairman of Jamaica Agricultural Commodities Regulatory Authority (JACRA)
</p>

<br>
<hr>
<p class = "lead">Mr. Pearnel P. Charles, Jnr.</p>
<img id = "person" src = "{{url_for('static', filename = "charles4.jpg")}}"/>
<p>Pearnel P. Charles Jr.,Esq. is the Lead Counsel and Managing Attorney of The Law Offices of Pearnel P. Charles Jr., P.A.</p>
<p>Attorney Charles is a former Criminal Prosecutor who has served as a Judicial Clerk, Clerk of Court and Crown Counsel to the Office of the Director of Public Prosecutions, Jamaica. Attorney Charles has gained significant experience and training in the Caribbean and United States of America and utilizes his extensive network to the benefit of his local and international clients.</p>
<p>Attorney Charles was awarded the Thomas Buergenthal Scholarship from The George Washington University Law School where he completed a Master of Laws in Intellectual Property Law. He received The Hon. Mr. Justice Kenneth Smith, O.J. Prize for outstanding performance in mooting and The Hon. Mr. Justice Madge Morgan Prize award from the Norman Manley Law School. During his tenure at the University of West Indies he was elected to serve as President of the Law Society and President of the Guild of Students and continues to serve the interest and welfare of students through community service, speaking engagements and service as a mooting competition judge at high schools and Universities.</p>
<br>
<hr>
<p class = "lead"> Ms. Georgia A. Henry </p>
<img id = "person" src = "{{url_for('static', filename = "charles.jpg")}}"/>
<p>Georgia Henry is an Associate Attorney-at-Law at Wentworth Charles & Company. </p> <p> She practices in a wide range of areas including property law, commercial law, civil litigation, employment law, divorce and family law. 
She is an Honour graduate of the University of Technology, Jamaica. She was awarded the Legal Education Certificate by the Norman Manley Law School in 2020. </p> <p>
Throughout her studies Ms. Henry served as a member of the Executive Committees. She was the Community Service Development Coordinator of the Faculty of Law and the Vice-President of the Norman Manley Law School Students’ Association. She also participated in the Second Year Mentorship Initiative. </p>
<p>Ms. Henry is committed to her role as an Attorney-at-Law and has a passion for helping and empowering others. 
</p>
{% endblock %}